{% extends "layout.html" %}

{% block main %}
<h1>Transaction History</h1>
<br>
<table class="table">
    <thead>
        <tr>
            <th>Transaction Type</th>
            <th>Sock Symbol</th>
            <th>Quantity</th>
            <th>Transaction Occurance</th>
        </tr>
    </thead>    
    <tbody>
        {% for trade in trades %}
        <tr>
            <td> {{ trade["type"] }} </td> 
            <td> {{ trade["stock_symbol"] }} </td>
            <td> {{ trade["qty"] }} </td>
            <td> {{ trade["datetime"] }}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}