{% extends "layout.html" %}

{% block main %}

<h1>Summary for {{ user }}</h1>
<br>
<table class="table">
    <thead>
        <tr>
            <th>Stock Symbol</th>
            <th>Number of Shares</th>
            <th>Stock Price</th>
            <th>Current Value</th>
        </tr>
    </thead>    
    <tbody>
        {% for holding in holdings %}
        <tr>
            <td> {{ holding["stock_symbol"] }} </td> 
            <td> {{ holding["qty"] }} </td>
            <td> {{ holding["stock_price"] |usd }} </td>
            <td> {{ holding["holding_value"] | usd}}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>
<br>

<table class="table">
    <thead>
        <tr>
            <th> Cash Available
            </th>
            <th> Total Net Value </th>
        </tr>
    </thead>    
    <tbody>
        <tr>
            <td> {{ cash_balance |usd }} 
            </td> 
            <td> ${{ total_value |usd}} </td>
        </tr>
        <tr>
            <td>    
                <form method="post">
                    <input type="text", name="cash", placeholder="Cash Amount">
                    <button type="submit">Add Cash To Account</button>
                </form>
        </button>
            </td> 

        </tr>
    </tbody>
</table>
{% endblock %}