{% extends "layout.html" %}

{% block main %}

<!--Show name of user, which stocks user owns, number of shares owned , current stock price of each stock and total value of each holding
user's current cash balance, grand total (value plus cash)-->
<h1>Summary for {{ user }}</h1>
<br>
<table class="table">
    <thead>
        <tr>
            <th>Stock Symbol</th>
            <th>Number of Shares</th>
            <th>Stock Price</th>
            <th>Current Value</th>
        </tr>
    </thead>    
    <tbody>
        {% for holding in holdings %}
        <tr>
            <td> {{ holding["stock_symbol"] }} </td> 
            <td> {{ holding["qty"] }} </td>
            <td> ${{ holding["stock_price"] }} </td>
            <td> ${{ holding["holding_value"] }}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>
<br>

<table class="table">
    <thead>
        <tr>
            <th> Cash Available</th>
            <th> Total Net Value </th>
        </tr>
    </thead>    
    <tbody>
        <tr>
            <td> ${{ cash_balance }} </td> 
            <td> ${{ total_value }} </td>
    </tbody>
</table>
{% endblock %}