{% extends "layout.html" %}

{% block main %}
    <form method="post">
        <div class="mb-3"><input autocomplete="off" autofocus class="form-control mx-auto w-auto" type="text" name="username" placeholder="Username"></div>
        <div class="mb-3"><input autocomplete="off" autofocus class="form-control mx-auto w-auto" type="text" name="password" placeholder="Password"></div>
        <div class="mb-3"><input autocomplete="off", type="text", name="confirmation", placeholder="Confirm Password"></div>
        <div class="text-center"><button class="btn btn-primary" type="submit">Submit</button></div>
    </form>
{% endblock %}
