{% extends "layout.html" %}

{% block main %}
{% if session['username'] %}
<div class="nav-item" id="logout"><a class="nav-link" href="/logout">Log Out</a></div>
<div class="edit-post">
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
        <h3>Edit Post</h3>
        
            <form method="post">
                <p class="edit-input">
                    <select type="text", name="category", value="{{ post.category }}", placeholder="Category">
                    <option>{{ post.category }}</option>
                    {% for category in categories %}
                    <option value="{{ category }}"> {{ category }}</option>
        
                    {% endfor %}
                    </select>
                </p>
                <p class="edit-input"><input class="input-single", type="text", name="title", value="{{ post.title }}", placeholder="Subject Title"></p>
                <p class="edit-input"><input class="input-single", type="text", name="tags", value="{{ post.tags }}", placeholder="Tags"></p>
                <p class="edit-input"><input class="input-single", type="text", name="pic", value="{{ post.pic }}", placeholder="Pic Path"></p>
                <p class="edit-input"><input id="content" type="hidden", name="content", placeholder="Content"></p>
                <p class="edit-input"><div id="editor">{{ post.content }}</div></p>
        
                <p class="edit-input"><button type="submit">Submit</button></p>
            </form>
</div>
{% else %}
    <a class="nav-link" href="/login">Login</a>
{% endif %}
<script>
    const Editor = toastui.Editor;
    const editor = new Editor({
        el: document.querySelector('#editor'),
        usageStatistics: false,
        height: '500px',
        initialEditType: 'markdown',
        previewStyle: 'vertical',
        hideModeSwitch: true,
        placeholder: "Enter blog content",
        autofocus: false,
    });
  
    editor.on('change', function(event) {
      postContent = document.getElementById("content");
      postContent.value = editor.getMarkdown();
    });
  
  </script>

{% endblock %}