{% extends "layout.html" %}

{% block main %}
<div id="background-index">
    <div class="content-index">
        NEW YORKER TO NOMAD
    </div>
    <div class="split">
        <div class="index-section">
            <h3 class="split-header"><a class="link-index" href="/trailer_tips">Trailer Life</a></h3>
            <hr>
            <div>
                <p class="index-description">Explore trailer life with me</p>
                <p class="index-description">Travel tips</p>
            </div>
            
        </div>
        <div class="index-section">
            <h3 class="split-header"><a class="link-index" href="/cooking">Small Kitchen Cooking</a></h3>
            <hr>
            <p class="index-description">Easy and fun recipes for small kitchens</p>
            <p class="index-description">Must haves to get big flavors from limited resources</p>
            
        </div>
        <div class="index-section">
            <h3 class="split-header"><a class="link-index" href="/climbing">Climbing</a></ul></h3>
            <hr>
            <p class="index-description">Explore new climbing crags</p>
            <p class="index-description">Climbing tips</p>
        
        </div>
    </div>
</div>

{% endblock %}