{% extends "layout.html" %}

{% block main %} 
    <div class="content-header">
        <h2>
            About Me
        </h2>
    </div>
    <div>
        <img class="pic" src="static/me.jpg" alt="me">
    </div>

    <div class="content-body">
        <p>Never in my wildest imagination would I have thought my life would become nomadic. I have always been a big city girl and always felt at home in the sea of chaos that is New York City. It is still to date my favorite city but, when the pandemic hit and much of the world was confined in their homes, I was presented with an opportunity to live in a home that travels and there was no way I was passing up an adventure of a lifetime.  And thus, a life of unpredictability and freedom was born and I could not be happier. </p>
        <p>I’ve created this website to combine all my trailer adventures and passions into one place.  Hopefully, it inspires someone to also explore the world in a moving home or help people who just started their adventure with some tips that would make their lives easier.  We have gone through many mishaps so you don’t have to! One of my two passions in life is rock climbing, so one of the criteria of where we visit is if there is outdoor climbing nearby.  The other is cooking.  Though the kitchen in the trailer is less than half the size of my kitchen in NYC, it has everything I need to make many of the meals I want. If it didn’t have what I needed, that just means I have to be creative and find another way to make my food amazing. As I would say to many things in life, challenge accepted.</p>
    </div>
{% endblock %}