{% extends "layout.html" %}

{% block main %}
<div id="background-index">
    <div class="content-index">
        NEW YORKER TO NOMAD
    </div>
    <div class="split">
        <div class="index-section">
            <h3 class="split-header"><a class="link-index" href="/trailer_tips">Trailer Life</a></h3>
            <hr>
            <div>
                <p>Explore trailer life with me</p>
                <p>Get travel tips</p>
            </div>
            
        </div>
        <div class="index-section">
            <h3 class="split-header"><a class="link-index" href="/cooking">Small Kitchen Cooking</a></h3>
            <hr>
            <p>Easy and fun recipes for small kitchens</p>
            <p>Must haves to get big flavors from limited resources</p>
            
        </div>
        <div class="index-section">
            <h3 class="split-header"><a class="link-index" href="/climbing">Climbing</a></ul></h3>
            <hr>
            <p>Explore new climbing crags</p>
            <p>Climbing tips</p>
        
        </div>
    </div>
</div>

{% endblock %}